
:root {
  --gray: #323232;
  --red: #f00/* #dc3037 */;
  --green: #0f0/* #4FC476 */;
  --blue: #00f/* #50acc5 */;
  --light-blue: #0091b8;
  --black: #000000;
  --white: #ffffff;
}


/*
  OLD TYPFACES
*/

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fjalla-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/fjalla-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fjalla-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fjalla-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fjalla-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fjalla-one-v8-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}

/* volkhov-regular - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/volkhov-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/volkhov-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/volkhov-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/volkhov-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/volkhov-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/volkhov-v12-latin-regular.svg#Volkhov') format('svg'); /* Legacy iOS */
}

/*
  NETIZEN TYPFACES
*/

@font-face {
    font-family: 'fira-sans-bold';
    src: url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-sans-regular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-mono-regular';
    src: url('fonts/FiraMono-Regular.woff2') format('woff2'),
         url('fonts/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
  NEWSROOM TYPFACES
*/

@font-face {
   font-family: "ivar-text";
   src: url("fonts/IvarText-Regular.woff2") format("woff2"),
        url("fonts/IvarText-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400
 }

 @font-face {
   font-family: "ivar-text";
   src: url("fonts/IvarText-Italic.woff2") format("woff2"),
        url("fonts/IvarText-Italic.woff") format("woff");
   font-style: italic;
   font-weight: 400
 }

 @font-face {
   font-family: "ivar-text";
   src: url("fonts/IvarText-Bold.woff2") format("woff2"),
        url("fonts/IvarText-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 600
 }

 @font-face {
   font-family: "ivar-text";
   src: url("fonts/IvarText-BoldItalic.woff2") format("woff2"),
        url("fonts/IvarText-BoldItalic.woff") format("woff");
   font-style: italic;
   font-weight: 600
 }


* { box-sizing: border-box; }

*::-moz-selection {
  background-color: var(--blue);
  color: var(--white);
}

*::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* image files by bokuwatensai */
/* https://www.cursors-4u.com/cursor/2014/03/14/rainbow-pinwheel-set.html */
@keyframes rainbow-cursor {
  0% { cursor: url(/images/cursors/rainbow/0.gif), auto; }
  5% { cursor: url(/images/cursors/rainbow/1.gif), auto; }
  9% { cursor: url(/images/cursors/rainbow/2.gif), auto; }
  14% { cursor: url(/images/cursors/rainbow/3.gif), auto; }
  18% { cursor: url(/images/cursors/rainbow/4.gif), auto; }
  23% { cursor: url(/images/cursors/rainbow/5.gif), auto; }
  27% { cursor: url(/images/cursors/rainbow/6.gif), auto; }
  32% { cursor: url(/images/cursors/rainbow/7.gif), auto; }
  36% { cursor: url(/images/cursors/rainbow/8.gif), auto; }
  41% { cursor: url(/images/cursors/rainbow/9.gif), auto; }
  45% { cursor: url(/images/cursors/rainbow/10.gif), auto; }
  50% { cursor: url(/images/cursors/rainbow/11.gif), auto; }
  55% { cursor: url(/images/cursors/rainbow/12.gif), auto; }
  59% { cursor: url(/images/cursors/rainbow/13.gif), auto; }
  64% { cursor: url(/images/cursors/rainbow/14.gif), auto; }
  68% { cursor: url(/images/cursors/rainbow/15.gif), auto; }
  73% { cursor: url(/images/cursors/rainbow/16.gif), auto; }
  77% { cursor: url(/images/cursors/rainbow/17.gif), auto; }
  82% { cursor: url(/images/cursors/rainbow/18.gif), auto; }
  86% { cursor: url(/images/cursors/rainbow/19.gif), auto; }
  91% { cursor: url(/images/cursors/rainbow/20.gif), auto; }
  95% { cursor: url(/images/cursors/rainbow/21.gif), auto; }
  100% { cursor: url(/images/cursors/rainbow/22.gif), auto; }
}

@keyframes mini-cursors {
  0% { cursor: url(/images/cursors/minis/0.gif), auto; }
  14% { cursor: url(/images/cursors/minis/1.gif), auto; }
  29% { cursor: url(/images/cursors/minis/2.gif), auto; }
  43% { cursor: url(/images/cursors/minis/3.gif), auto; }
  57% { cursor: url(/images/cursors/minis/4.gif), auto; }
  71% { cursor: url(/images/cursors/minis/5.gif), auto; }
  86% { cursor: url(/images/cursors/minis/6.gif), auto; }
}


body {
  color: var(--black);
  padding: 0px;
  margin: 0px;
  cursor: url(/images/cursors/rainbow/0.gif), auto;
  animation: rainbow-cursor 1.5s infinite;
}

header {
  padding: 20px;
}

header > * {
  color: var(--black);
}

header > h1 {
  height: 100px;
}

h1, h2 {
  font-family: 'fira-mono-regular', monospace;
  font-weight: 100;
  text-align: center;
  margin: 0px;
  /* text-transform: uppercase; */
  word-spacing: 3px;
}

h1 {
  /* font-family: 'Fjalla One', sans-serif; */
  font-size: 78px;
  /* font-family: 'fira-sans-bold', sans-serif; */
  /* font-family: 'fira-sans-regular', sans-serif; */
  /* font-family: 'fira-mono-regular', monospace; */
}

@media (max-width: 800px) {
  h1 { font-size: 52px; }
}

h2 {
  font-size: 38px;
  margin: 0px 0px 5px 0px;
  font-family: sans-serif;
}

h3 {
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'fira-mono-regular', sans-serif;
  /* text-transform: uppercase; */
  font-size: 38px;
  word-spacing: 10px;
}

h4 {
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'fira-bold-regular', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
}

blockquote, article, .info-table {
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  position: relative;
  border: 2px solid var(--blue);
  border-radius: 15px 15px 0 0;
  background-color: var(--white);
  /* border-left: 10px solid var(--red);
  padding-left: 30px; */
  max-width: 800px;
  margin: 90px auto;
  font-size: 19px;
}

blockquote::before {
  content: "❝";
  display: block;
  width: 100%;
  height: 48px;
  background: var(--blue);
  color: var(--white);
  padding: 0px 10px;
  font-size: 50px;
  border-radius: 13px 13px 0 0;
  box-sizing: border-box;
}

blockquote::after {
  content: "";
  /* display: block; */
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%230000ff'/%3E%3C/svg%3E") repeat bottom left;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: auto;
}

blockquote p {
  /* color: var(--red); */
  font-style: italic;
  line-height: 32px;
  padding: 10px 38px;
}

blockquote cite {
  text-align: right;
  display: block;
  color: var(--blue) !important;
  padding: 0 38px 20px 0;
}

blockquote cite:before {
  content: "— ";
}

article > p,
.grid p,
ul, p {
  /* font-family: 'Volkhov', serif; */
  /* font-size: 19px; */
  /* line-height: 30px; */
  font-family: "ivar-text", "Georgia", serif;
  font-size: 18px;
  line-height: 1.7;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}





@keyframes rainbow {
  0% { background-position-x: -200%; }
  100% { background-position-x: 0%; }
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  /* color: transparent;
  background: linear-gradient(to left, var(--red), var(--red), var(--blue), var(--blue), var(--green), var(--green), var(--red));
  background-size: 200%;
  background-clip: text;
  animation: rainbow 5s linear infinite; */
  border-bottom: 2px solid var(--blue);
}

a[href="#"] {
  opacity: 0.5;
}

.rainbow-text {
  /* color: transparent; */
  /* background: linear-gradient(to left, #a0a, #0aa, #00a, #0a0, #aa0, #a00); */
  /* background: linear-gradient(to left, var(--red), var(--red), var(--blue), var(--blue), var(--green), var(--green), var(--red));
  background-size: 200%;
  background-clip: text;
  animation: rainbow 5s linear infinite; */
}

a.button {
  font-family: 'fira-mono-regular', monospace;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 42px;
  border: 4px solid var(--blue);
  animation: rainbow 5s linear infinite;
  text-align: center;
}

a.button:hover {
  color: var(--white);
  background: linear-gradient(to left, var(--red), var(--red), var(--blue), var(--blue), var(--green), var(--green), var(--red));
  background-size: 200%;
  /* filter: saturate(0.75) contrast(0.75); */
  opacity: 0.6;
}





b {
  color: black;
  font-style: italic;
}

pre {
  color: #444;
  width: 100%;
  text-align: left;
  border-radius: 15px;
}

code {
  border-radius: 6px;
  padding: 1px 8px;
  border: 1px solid var(--red);
  color: var(--red);
  font-size: 17px;
}

hr {
  max-width: 800px;
  border: 1px solid var(--black);
  border-bottom: none;
  margin: 80px auto;
}



/*highlight overrides*/
.hljs-keyword, .hljs-built_in { color: #66D9EF; }
.hljs-function { color:#fff; }
.hljs-tag .hljs-value { color: #E6DB74; }
.hljs-attribute { color:#A6E22E; }


.rwd { width: 100%; }

.grey, .caption {
  color: #888;
  text-align: center;
  display: block;
}

.caption {
  font-size: 16px;
  font-style: italic;
}

.k {
  color: #de4173;
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #AAA;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

.info-table {
  font-family: 'Volkhov', serif;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  max-width: 468px;
  margin: 50px auto 10px auto;
  padding: 20px;
  box-sizing: border-box;
}

.info-table > div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}

.info-table > div > div:first-child {
  font-weight: bold;
  text-align: right;
}

.mtaa {
  display: block;
  margin: 0 auto;
}

.olia {
  width: 240px;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.flex > * {
  margin: 5px;
}

.grid {
  display: grid;
  grid-column-gap: 20px;
}

.cols2 {
  grid-template-columns: 1fr 1fr;
}


.cols3to1 {
  grid-template-columns: 3fr 1fr;
}


@media (max-width: 800px) {
  blockquote, article {
    margin: 0 25px;
  }
  .mtaa {
    width: 100%;
  }
  .cols2 {
    grid-template-columns: 1fr;
  }
}

.sec-title {
  display: flex;
  align-items: center;
  height: 100px;
  /* font-size: 10vw; */
}

.sec-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
